<h1>Stupid Coaching</h1>

<div class="card question">
  <p><%=@question%><p>
  <p><i>-You</i><p>
</div>
<br>
<div class="card answer">
  <p><%=@answer%></p>
    <p><i>-Your coach</i><p>
</div>
<br>
<%= link_to "Ask again here", ask_path %>