// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card {
  border-left: 6px solid lightgray;
  margin-left: 10px;
  text-indent: 2%;
  width: 30vw;
  padding: 1%;
}

.answer {
background-color: lightyellow;
}